<main>
	<section>
		<div class="background">
			<div><input class="form-control" ng-model="searchText" placeholder="Найти" /></div>
			<button ng-click="goToForm()">Добавить элемент</button>
		</div>
	</section>

	<div class="item">
		<div>Название</div>
		<div>Цена</div>
		<div>Рейтинг</div>
		<div>Дата проведения</div>
	</div>

	<div ng-repeat="item in lists | filterSearchElement:searchText">
		<item-component date-border view="item" ng-click="goToItem(item)"></item-component>
	</div>
	<div ng-if="lists.length === 0">
		<p style="font-family: 'Roboto', Helvetica, Arial, sans-serif;" class="title">Нет данных. Будь первым...</p>
	</div>
</main>