/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: "Quicksand-Bold";
	src: url("../fonts/Quicksand-Bold.ttf");
}

@font-face {
	font-family: "quicksand-bold-webfont";
	src: url("../fonts/quicksand-bold-webfont.woff");
}

* {
	box-sizing: border-box;
}

html {
	width: 100%;
}

body {
	width: 100%;
	margin: 0 auto;
	font-family: quicksand-bold-webfont;
	font-size: 18px;
}

section {
	width: 100%;
	border-bottom: 5px solid white;
}

.wrapper {
	max-width: 1085px;
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
}

main {
	margin: 10px 0;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	font-family: quicksand-bold-webfont;
}

header {
	text-align: center;
	margin-top: 20px;
}

button {
	background: orange;
	border: none;
	border-radius: 2px;
	height: 36px;
	margin: 0;
	min-width: 150px;
	padding: 0 16px;
	display: inline-block;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0;
	outline: none;
	cursor: pointer;
	text-align: center;
}

.form-control {
	padding: 0 16px;
	display: inline-block;
	height: 36px;
	border-radius: 2px;
	border: .5px solid;
	outline: none;
	margin-right: 20px;
}

h1 {
	text-transform: uppercase;
	display: inline-block;
	align-self: center;
	margin-left: 25px;
}

h2 {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
}

.checked {
	color: orange;
}

button:hover {
	background-color: grey;
}

/* 
button:active {
  background-color: rgba(158, 158, 158, .4);
} */

.form-group {
	display: flex;
	align-items: center;
	margin-top: 25px;
	justify-content: center;
}

item-component,
.item {
	width: 1040px;
	display: grid;
	grid-template-columns: repeat(4, 24%);
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	justify-content: center;
	padding: 10px 0;
	border: solid 2px grey;
	margin-bottom: 10px;
}

.item {
	margin-top: 25px;
	font-weight: bold;
	color: white;
	background-color: grey;
}

item-component:hover {
	background-color: #FEF9E7;
}

/* .ng-invalid.ng-touched, .ng-submitted .ng-invalid {background-color: red;}
 *//* .cell {
width:24%;
padding: 3px 20px;
} */

/* Todo form */
/* .todo-form {
  display: flex;
  padding: 1em;
  margin-bottom: 1em;
} */
/* 
.todo-form button {
  margin-left: 16px;
} */

.background {
	background-color: rgba(158, 158, 158, .2);
	padding: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 25px;
}

/* Todo list */
.todo-list {
	display: flex;
	margin: 20px auto 5px;
	min-width: max-content;
	align-items: center;
	height: 145px;
}

.todo-item {
	padding-right: 1em;
	display: inline-block;
	min-width: max-content;
}

.todo-item .checkbox {
	margin-right: .25em;
}

.todo-item.completed .material-icons {
	color: #aa9b77;
}

.back-button {
	font-family: "quicksand-bold-webfont";
	color: black;
	background-color: #f5f6f7;
	border-radius: 4px;
	font-size: 16px;
}

.back-button:hover {
	background-color: #ccc;
}